<div ng-controller="listUserCtrl as vm">
    <h2>All Users</h2>

    <md-table-container>
        <table md-table flex="50">
            <thead md-head>
                <tr md-row>
                    <th md-column>uuid</th>
                    <th md-column>First Name</th>
                    <th md-column>Last Name</th>
                    <th md-column>Email</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr ng-repeat="user in vm.users">
                    <td md-cell>{{user.uuid}}</td>
                    <td md-cell>{{user.firstName}}</td>
                    <td md-cell>{{user.lastName}}</td>
                    <td md-cell>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <article ng-non-bindable>
        <h3>Moving Parts</h3>
        <ul>
            <li>template: templates/userList.html</li>
            <li>controller: scripts/user/listUserCtrl.js</li>
            <li>service: scripts/user/userService.js</li>
        </ul>

        <h3>Concepts</h3>
        <ul>
            <li>ng-controller</li>
            <li>ng-repeat</li>
            <li>interpolation directive {{}}</li>
            <li>IOC: controller injects userService, userService injects $http</li>
            <li>consuming promises</li>
            <li>factory service</li>
            <li>using $http to consume REST</li>
        </ul>
    </article>
</div>