<div class="user-cards" ng-controller="listUserCtrl as vm">
    <div layout="row">
        <h2 layout="column">Filter Users by Vowel</h2>
        <md-input-container layout="column" flex-offset="5">
            <md-select ng-model="vm.vowel">
                <md-option value=''></md-option>
                <md-option value='A'>A</md-option>
                <md-option value='E'>E</md-option>
                <md-option value='I'>I</md-option>
                <md-option value='O'>O</md-option>
                <md-option value='U'>U</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div ng-repeat="user in (vm.users | vowelUserFilter:vm.vowel)">
        <div biz-card="user"></div>
    </div>

    <article ng-non-bindable>
        <h3>Moving Parts</h3>
        <ul>
            <li>template: templates/userCards.html</li>
            <li>custom collection filter: scripts/user/vowelUserFilter</li>
            <li>custom directive: scripts/user/bizCardDirective.js</li>
            <li>custom value filter: scripts/user/fullNameFilter.js</li>
            <li>controller: scripts/user/listUserCtrl.js</li>
            <li>service: scripts/user/userService.js</li>
        </ul>

        <h3>Concepts</h3>
        <ul>
            <li>ng-controller</li>
            <li>ng-model</li>
            <li>ng-repeat</li>
            <li>filtering</li>
        </ul>
    </article>
</div>