<div class="crud-delete" ng-controller="userCRUD_deleteCtrl as vm">
    <h2>Delete this User?</h2>

    <div layout="row">
        <div layout="column" biz-card="vm.user"></div>
        <div layout="column" layout-align="center">
            <div layout="row">
                <md-button layout="column" class="md-raised md-warn" title="Delete User" ng-click="vm.Yes()">
                    <md-icon md-font-library="material-icons">clear</md-icon>
                </md-button>
                <md-button layout="column" class="md-raised" ng-click="vm.No()">Cancel</md-button>
            </div>
        </div>
    </div>

    <article ng-non-bindable>
        <h3>Moving Parts</h3>
        <ul>
            <li>template: templates/crud/userCRUD_delete.html</li>
            <li>directive: scripts/user/bizCardDirective.js</li>
            <li>controller: scripts/crud/userCRUD_deleteCtrl.js</li>
            <li>service: scripts/user/userService.js</li>
        </ul>

        <h3>Concepts</h3>
        <ul>
            <li>ng-controller</li>
            <li>(In controller) Access to parent controller via injected $scope</li>
        </ul>
    </article>
</div>