<div class="crud-list">
    <div layout="row">
        <h2 layout="column">List of Users</h2>
        <div layout="column" layout-align="center" flex-offset="25">
            <md-button class="md-raised" title="Add User" ng-click="vm.showCreate()">
                <md-icon md-font-library="material-icons">add person</md-icon>
            </md-button>
        </div>
    </div>

    <div layout="row" ng-repeat="user in vm.users">
        <span layout="column" layout-align="center" flex="15">{{user.lastName}}, {{user.firstName}}</span>
        <div layout="column">
            <div layout="row">
                <md-button class="md-raised" title="View User" ng-click="vm.showView(user.uuid)">
                    <md-icon md-font-library="material-icons">info_outline person</md-icon>
                </md-button>
                <md-button class="md-raised" title="Update User" ng-click="vm.showEdit(user.uuid)">
                    <md-icon md-font-library="material-icons">create person</md-icon>
                </md-button>
                <md-button class="md-raised" title="Delete User" ng-click="vm.showDelete(user.uuid)">
                    <md-icon md-font-library="material-icons">clear person</md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <article ng-non-bindable>
        <h3>Top Level</h3>
        <ul>
            <li>template: templates/crud/userCRUD.html</li>
            <li>controller: scripts/crud/userCRUDCtrl.ls</li>
            <li>service: scripts/user/userService.js</li>
        </ul><ul>
            <li>ng-if</li>
            <li>ng-include</li>
            <li>Javascript 'enums'</li>
        </ul>

        <h3>Parts and Concepts</h3>
        <ul>
            <li>template: templates/crud/userCRUD_list.html</li>
        </ul><ul>
            <li>ng-click</li>
            <li>ng-repeat</li>
            <li>interpolation directive {{}}</li>
        </ul>
        <em>Note that the list template does not define a controller; it uses the top-level.</em>
    </article>
</div>