<div class="crud-view" ng-controller="userCRUD_viewCtrl as vm">
    <h2>View User</h2>

    <div layout="row" flex="50">
        <label layout="column" flex="20">First Name:</label>
        <span layout="column">{{vm.user.firstName}}</span>
    </div>

    <div layout="row" flex="50">
        <label layout="column" flex="20">Last Name:</label>
        <span layout="column">{{vm.user.lastName}}</span>
    </div>

    <div layout="row" flex="50">
        <label layout="column" flex="20">Email:</label>
        <a layout="column" href="mailto:{{vm.user.email}}">{{vm.user.email}}</a>
    </div>

    <div layout="row" flex="50">
        <label layout="column" flex="20">ID:</label>
        <code layout="column">{{vm.user.uuid}}</code>
    </div>

    <div layout="row" flex-offset="20">
        <md-button class="md-raised" ng-click="vm.Close()">Close</md-button>
    </div>

    <article ng-non-bindable>
        <h3>Moving Parts</h3>
        <ul>
            <li>template: templates/crud/userCRUD_view.html</li>
            <li>controller: scripts/crud/userCRUD_viewCtrl.js</li>
            <li>service: (none)</li>
        </ul>

        <h3>Concepts</h3>
        <ul>
            <li>ng-controller</li>
            <li>interpolation directive {{}}</li>
            <li>(In controller) Access to parent controller via injected $scope</li>
        </ul>
    </article>
</div>